<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body style="background: #2C3959;">
<div class="row" style="margin-top: 100px; margin-left: 50px">
    <div class="col">
        <p class="text fw-bold text-lg-start" style="color: white; font-size: 100px">Путешествие начинается с</p>
    </div>
    <div class="col" style="border-radius: 30px">
        <div style="width: 500px; background: white; border-radius: 10px">
            <div style="background: #2C3959">
                <div class="d-flex flex-row bd-highlight col-2" style="margin: auto">
                    <p class="text-center fw-bold text-white fs-1">Купи</p>
                    <p class="text-center fw-bold fs-1" style="color: #37B866">билет</p>
                </div>
            </div>
            <div class="modal-header">
                <h2>Вход на сайт</h2>
            </div>
            <div class="modal-body">
                <form id="auth" method="POST" action="">
                    <h3 align="left" style="color: red"> {{ message }} </h3>
                    <label for="login" class="d-flex aligns-items-left"> Логин</label>
                    <input type="text" class="form-control" id="login" name="login"> <br>

                    <label for="password" class="d-flex aligns-items-left"> Пароль </label>
                    <input type="password" class="form-control" name="password" id="password">

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success fs-5" form="auth" style="background: #37B866">Войти</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>