<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр запроса</title>
    <link href="{{ url_for('static', filename='static.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body style="background: #2C3959">
<div class="modal-dialog" style="width: 750px;">
    <div class="modal-content col-auto">
        <div class="modal-header">
            <h2>Результат запроса</h2>
        </div>
        <div class="modal-body">
            {% if table_items %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    {% for column_name in table_items[0].keys() %}
                        <th scope="col">{{ column_name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in table_items %}
                    <tr>
                        {% for column_name in item.keys() %}
                            <td>{{ item[column_name] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h1>NOT RESPONSE</h1>
            {% endif %}
        </div>
        <div class="modal-footer">
            <form action="{{ url_for(back_site) }}">
                <button class="btn btn-outline-dark">Вернуться назад</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>