<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню выбора запросов</title>
    <link href="{{ url_for('static', filename='static.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body style="background: #2C3959">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Меню выбора запросов</h2>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" width="60">Номер</th>
                    <th scope="col">Легкие запросы</th>
                    <th scope="col">Сложные запросы</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <form action="{{ url_for('blueprint_query.query_light_1') }}" target="_self">
                            <button class="btn btn-primary" type="submit">
                                Показать все сведения о рейсах, номера которых начинаются с XXX
                            </button>
                        </form>
                    </td>
                    <td class="text-center align-middle">
                        <form action="{{ url_for('blueprint_query.query_hard_1') }}" target="_self">
                            <button class="btn btn-primary" type="submit">
                                Показать все сведения о продажах билетов по дате XXX
                            </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <form action="{{ url_for('blueprint_query.query_light_2') }}" target="_self">
                            <button class="btn btn-primary" type="submit">
                                Показать все сведения о билетах, проданных по дате XXX
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('blueprint_query.query_hard_2') }}" target="_self">
                            <button class="btn btn-primary" type="submit">
                                Показать все сведения о продаже билетов для вылета из каждого аэропорта по дате XXX
                            </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <form action="{{ url_for('blueprint_query.query_light_3') }}" target="_self">
                            <button class="btn btn-primary" type="submit">
                                Показать все сведения о билетах, проданных за последние XXX дней
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('blueprint_query.query_hard_3') }}" target="_self">
                            <button class="btn btn-primary" type="submit">
                                Показать все сведения о пассажирах,
                                покупавших самые дорогие билеты на рейс ХХХ по дате XXX
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <form action="/">
                <button class="btn btn-outline-dark">Вернуться назад</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>