{% extends 'base.html' %}

{% block index %}
    <div style="height: 100px; width: 100%; background: white;">
        <div class="top-50" style="margin: 0 100px 0 150px">
            <form id="search" action="" method="post"></form>
            <div style="padding-top: 25px">
                <div class="row">
                    <div class="col-3" style="padding: 0; margin: 0 5px 0 5px">
                        <input type="text"
                               class="form-control form-control-lg fs-5" style="border-radius: 10px"
                               placeholder="Откуда" name="departure_city" id="departure_city" form="search"
                               value="{{ search_parameters['departure_city'] }}">
                    </div>
                    <div class="col-3" style="padding: 0; margin: 0 5px 0 5px">
                        <input type="text"
                               class="form-control form-control-lg" style="border-radius: 10px"
                               placeholder="Куда" name="arrival_city" id="arrival_city" form="search"
                               value="{{ search_parameters['arrival_city'] }}">
                    </div>
                    <div class="col-2" style="padding: 0; margin: 0 5px 0 5px">
                        <input type="date"
                               class="form-control form-control-lg" style="border-radius: 10px"
                               placeholder="Дата полета" name="flight_time" id="flight_time" form="search"
                               value="{{ search_parameters['flight_time'] }}">
                    </div>
                    <div class="col-2" style="padding: 0; margin: 0 5px 0 5px">
                        <button type="submit" form="search" class="btn fs-5 fw-bold w-100 h-100"
                                style="background: #2C3959; color: white; border-radius: 8px">Найти билет
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: auto; width: 100%; background: #F2F2F2; padding: 50px 0px 50px 150px">
        {% if flights %}
            {% for flight in flights %}
                {% include 'market/flight_item.html' %}
            {% endfor %}
        {% else %}
            <img src="../../../static/img/img.png" style="display: block; margin: 0 auto 0">
        {% endif %}
    </div>
{% endblock %}
